*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    flex-direction: column;
}

#wrapper{
    background-color: black;
    padding: 10px;
    width: 550px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px 8px white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#wrapper input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 25px;
}

#wrapper input::placeholder{
    color: white;
}


#wrapper button{
    width: 30%;
    height: 50px;
    background-color: blue;
    cursor: pointer;
    height: 50px;
    border-radius: 8px;
    color: white;
    font-size: 25px;

}


#country_profile{
    display: none;
    width: 1000px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    padding: 10px;
    background-color: white;
}

#country_profile #banner > img{
    width: 100%;
    height: 360px;
}

#country_profile main{
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#country_profile main .left{
    width: 40%;
    text-align: center;
}

#country_profile main .right{
    width: 60%;
}

#country_profile main .left #flag{
    width: 90%;
    margin-bottom: 30px;
}

#country_profile main .left #icon{
    width: 60%;
}

#country_profile main .right .title{
    text-align: center;
    font-size: 120%;
}

#country_profile main .right .glance{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#country_profile main .right .glance .box{
    border: 1.5px solid black;
    padding: 10px;
    width: 47%;
    margin: 5px;
    overflow: hidden;
}

#country_profile main .right .glance .box h3{
    font-size: 30px;
}

#country_profile main .right .glance .box p{
    font-size: 25px;
}